html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
html, body, input, textarea {
  font-family: Mukta;
}

body {
  background-image: url(../images/emile1.png);
  background-repeat: repeat;
  background-size: 150px;
}

@font-face {
  font-family: 'Mukta';
  src: url(../Mukta/Mukta-Regular.ttf) format('truetype');
}

.wrapper {
  max-height: 100vh;
  width: 133vh;
  display: inline-block;
  position: relative;
  margin: 0;
  overflow: hidden;
  background-size: 100% 100%;
  border-bottom: solid black;
  border-right: solid black;
}

.wrapper:after {
  padding-top: 75%;
  display: block;
  content: '';
}

.board {
  background-image: url(../images/green_poker.jpg);
  background-size: cover;
  height: 75%;
  width: 100%;
  position: absolute;
}

#title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
}

h4 {
  position: absolute;
  font-size: 36px;
  margin-top: 5%;
  width: 100%;
}

#pot-display {
  top: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
}

#winner-message {
  position: absolute;
  margin-top: 18%;
  font-size: 22px;
  font-weight: 400;
  width: 100%;
  z-index: 50;
}

h5 {
  position: absolute;
  width: 100%;
  margin-top: 15%;
  font-size: 22px;
  font-weight: 400;

}

#community-cards {
  width: 37.5%; /* 300px */
  background-color: rgb(0, 110, 0);
  border: solid rgb(0, 80, 0);
  height: 22.22%; /* 100px */
  top: 38.89%; /* 175px */
  left: 31.25%; /* 250px */
  position: absolute;
  border-radius: 10px;
}

#flop1 {
  left: 10%;
  visibility: hidden;
}
#flop2 {
  left: 30%;
  visibility: hidden;
}
#flop3 {
  left: 50%;
  visibility: hidden;
}
#turn1 {
  left: 70%;
  visibility: hidden;
}
#river1 {
  left: 90%;
  visibility: hidden;
}

.player-space {
  width: 18.75%; /* 150px */
  height: 26.67%; /* 120px */
  border-radius: 20px;
  background-color: rgba(150, 150, 150, .8);
  position: absolute;
  text-align: left;
  display: inline-block;
}

.player-space img, #community-cards img {
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
}

.player-space img {
  top: 60%;
  max-height: 65%;
  max-width: 65%;
}

#community-cards img {
  top: 50%;
  max-height: 80%;
  max-width: 80%;
}

.player-space .first {
  left: 30%;
}

.player-space .second {
  left: 70%;
}

.player-space > .toggle-visibility > p, b {
  margin-top: 5px;
  display: inline-block;
  font-size: 18px;
}
.player-space b {
  padding-right: 10%;
}

.right-align {
  text-align: right;
  float: right;
  margin-right: 10%;
}

.player-space > .toggle-visibility > p {
  margin-left: 10%;
}

#p0, #p3 {
  top: 22.78%; /* 102.5px 0, 6*/
}
#p0, #p8 {
  left: 1.25%; /* 10px 0, 1*/
}
#p7, #p5, #p6 {
  bottom: 2.22%; /* 10px 2, 4, 3*/
}
#p3, #p4 {
  right: 1.25%; /* 10px 6, 5*/
}
#p8, #p4 {
  top: 50.56%; /* 227.5px 1, 5*/
}
#p1, #p7 {
  left: 21.25%; /* 170px 8, 2*/
}
#p2, #p5 {
  right: 21.25%; /* 170px 7, 4*/
}
#p2, #p1 {
  top: 2.22%; /* 10px 7, 8*/
}
#p6 {
  left: 40.63%; /* 325px 3 */
}

.toggle-visibility {
  visibility: hidden;
  /* UNCOMMENT THIS WHEN ACTUALLY PLAYING */
  height: 100%;
}

.bet-size {
  font-weight: 600;
  color: white;
  display: inline-block; 
  margin: 5% 0 0 0;
}

.bet-holder {
  background-color: rgba(50,50,50, .5);
  border-radius: 10px;
  position: absolute;
  height: 20%;
  width: auto;
  text-align: center;
  padding: 0 5%;
  margin: 0;
}

#bet-holder-p0 {
  left: 105%;
  top: 50%;
}

#bet-holder-p8 {
  left: 105%;
  bottom: 45%;
}

#bet-holder-p7, #bet-holder-p6, #bet-holder-p5 {
  top: -25%;
  left: 50%;
  transform: translate(-50%, 0);
}

#bet-holder-p4 {
  right: 105%;
  bottom: 45%;
}

#bet-holder-p3 {
  right: 105%;
  top: 50%;
}

#bet-holder-p2, #bet-holder-p1 {
  bottom: -25%;
  left: 50%;
  transform: translate(-50%, 0);
}

.dealer-chip {
  width: 20%;
  height: auto;
  visibility: hidden;
}

#dealer-chip-p0 {
  right: -35%;
  top: 88%;
}

#dealer-chip-p8 {
  right: -35%;
  top: 15%;
}

#dealer-chip-p7, #dealer-chip-p6 {
  right: -10%;
  top: -15%;
}

#dealer-chip-p5 {
  left: 10%;
  top: -15%;
}

#dealer-chip-p4 {
  left: -15%;
  top: 15%;
}

#dealer-chip-p3 {
  left: -15%;
  top: 88%;
}

#dealer-chip-p2 {
  left: 10%;
  top: 115%;
}

#dealer-chip-p1 {
  right: -10%;
  top: 115%;
}

.action-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: table;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear .5s, opacity .5s linear;
  vertical-align: middle;

}

.action-text-transition {
  opacity: 1;
  transition: none;
  visibility: visible;
}

.action-text p {
  display: table-cell;
  vertical-align: middle;
}

.interface {
  background-image: url(../images/wood_panel2.jpg);
  background-size: cover;
  position: absolute;
  top: 75%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.interface img {
  max-width: 10%;
  height: auto;
}

.container {
  width: 33.33%;
  height: 25%;
  top: 0;
  display: block;
  margin: 0;
  text-align: center;
  position: absolute;
  border-top: solid black;
  border-width: 2px;
}

#hand {
  left: 0;
  border-right: solid black;
  border-width: 2px;
  color: white;
}

#user-input {
  left: 33.33%;
  border-width: 2px;
  border-left: solid black;
  border-width: 2px;
}

#other-options {
  color: white;
  right: 0;
  border-left: solid black;
  border-width: 2px;
}

h1 {
  font-size: 25px;
  margin-top: 5px;
}

h3 {
  margin-top: -20%;
}

#fold-message {
  visibility: hidden;
}

.container img {
  display: inline-block;
  position: absolute;
  top: 60%;
  max-height: 65%;
  max-width: 65%;
  transform: translate(-50%, -50%);
}

#first-card {
  left: 35%;
}
#second-card {
  left: 65%;
}

button {
  background-image: linear-gradient(90deg , rgb(214,219,223) 0%, rgb(244,244,248) 100%);
  border-radius: 5px;
  padding: 1.9% 3.75%; /* 5px 10px */
  font-size: 14px;
  margin: 1.9%; /* 5px */
  border: solid gray;
  border-width: 1px;
}

h2 {
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
}

#both, #l, #r, #half-pot, #three-fourths-pot, #pot {
  margin-left: .75%; /* 2px */
  margin-right: .75%; /* 2px */
}

#check-call, #fold, #all-in, #raise, #leave {
  font-weight: 600;
}

#leave {
  margin-top: 3.75%; /* 10px */ 
}

#clock, #straddle {
  position: absolute;
  display: inline-block;
  bottom: 10%;
}

#clock {
  left: 15%;
}

#straddle {
  right: 15%;
}

hr {
  border: 1px solid black;
}